.manager-admin-pane {
  position: absolute;
  background: #FFFFFF;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  height: 370px;
  width: 455px;
  left: 345px;
  top: 312px;
  }
  .style {
    font-family: Aribau Grotesk;
    font-size: 8px;
    font-weight: 300;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
  }

.rectangle-15 {
  position: absolute;
  width: 5px;
  height: 1px;
  left: 1055px;
  top: 312px;
  background: #FFFFFF;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  }
  .ellipse-1 {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 374px;
    top: 350px;
  background: url(avatar.jpg), #FFFFFF;
  }
  .angelo-akuhwa {
    position: absolute;
    width: 229px;
    height: 61px;
    left: 493px;
    top: 367px;
    font-family: 'Aribau Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    color: #173752;
  }
  .hotel-info {
  position: absolute;
  width: 373px;
  height: 164px;
  left: 374x;
  top: 489px;
  background-color: #FFFFFF;
  font-family: 'Aribau Grotesk';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 23px;
  color: #1A2E3D;
  }

.managerTable {
  width: 1020px;
  height: 1311px;
  left: 0px;
  top: 0px;
  background: #F4F7FC;
  overflow-x: scroll;
  margin: 0 auto;
}
table {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400px;
  font-size: 14px;
  line-height: 17px;
  color: #2E3B52;
  border-collapse: collapse;
  width: 1020px;
  height: 1311px;
  left: 0px;
  right: 0px;
  border-radius: 6px;
}
.ManagerSearchBar {
  margin-bottom: 20px;
  display: flex;
  align-items: left;
  gap: 30px;
}
.ManagerFilterIcon {
  font-size: 20px;
}
.ManagersearchInput {
  width: max-content;
  position: absolute;
  border-radius: 4px;
}
.ManagersearchInput input {
  width: 47px;
  height: 17px;
  font-size: 14px;
  padding: 10px 30px;
  border-radius: 4px;
  background-color: #dae1ec;
  border: 1px solid #dae1ec;
}
.ManagerSearchIcon {
  font-size: 20px;
  position: absolute;
  top: 25%;
  left: 7px;
}
td,
th {
  text-align: center;
  padding: 18px 8px;
  width: 20px;
}
.ManagerCrud {
  display: flex;
  padding: 18px 8px;
  text-align: center;
}
.Manager-pagination {
  display: flex;
}
Manager-pagination h4 {
  display: inline-flex;
}
.ManagerCheckBox {
  width: 20px;
}
tr:nth-child(even) {
  background-color: #f4f7fc;
}
tr:hover {
  background-color: #4b515b26;
}