.manager-admin-pane {
  position: relative;
  display: flex;
  background: #FFFFFF;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  height: 370px;
  width: 455px;


}

.manager-admin-pane .avatar {
  position: relative;
  width: 100px;
  height: 100px;
  left: 20px;
  top: 20px;
  background: url(avatar.jpg), #FFFFFF;
  border-radius: 50%;
}
.manager-admin-pane .details {
  position: absolute;
  width: 400px;
  height: 200px;
  left: 20px;
  top: 120px;
  font-family: 'Aribau Grotesk';
}
  .hotel-info {
  position: absolute;
  width: 373px;
  height: 164px;
  left: 374x;
  top: 489px;
  background-color: #FFFFFF;
  font-family: 'Aribau Grotesk';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 23px;
  color: #1A2E3D;
  }
  additional-info-card {
    position: absolute;
    width: 531px;
    height: 222px;
    left: 865px;
    top: 312px;
    background: #FFFFFF;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    }
    .additionalRecord {
    position: absolute;
    width: 445.62px;
    height: 37px;
    left: 924.35px;
    top: 349px;
    font-family: 'Aribau Grotesk';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 23px;
    display: flex;
    align-items: center;
    color: #1A2E3D;
    }
    .dateJoined {
    position: absolute;
    width: 175.99px;
    height: 53px;
    left: 909px;
    top: 399px;
    font-family: 'Aribau Grotesk';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-indent: 15px;
    color: #1A2E3D;
    }
    .last-update {
      position: absolute;
      width: 175.99px;
      height: 34px;
      left: 1160.84px;
      top: 406px;
      font-family: 'Aribau Grotesk';
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 18px;
      display: flex;
      align-items: center;
      text-indent: 15px;

color: #1A2E3D;

    }
    .managerId {
    position: absolute;
    width: 175.99px;
    height: 53px;
    left: 909px;
    top: 472px;
    font-family: 'Aribau Grotesk';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-indent: 15px;
    color: #1A2E3D;
    }
    .totalHotels {
    position: absolute;
    width: 175.99px;
    height: 53px;
    left: 1160.84px;
    top: 472px;
    font-family: 'Aribau Grotesk';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    }
    .total-amount-generated {
      position: relative;
      width: 531px;
      height: 130px;
      left: 865px;
      top: 552px;
      background: #FFFFFF;
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
      border-radius: 25px;
}
.totalAmountGenerated {
position: absolute;
width: 460.46px;
height: 97px;
left: 905.8px;
top: 564px;
font-family: 'Aribau Grotesk';
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 23px;
color: #1A2E3D;
}

.amount {
position: absolute;
width: 460.46px;
height: 97px;
left: 905.8px;
top: 600px;
font-family: 'Aribau Grotesk';
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 23px;

color: #1A2E3D;
}
  .managerTable {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1020px;
    height: 1311px;
    background: #F4F7FC;
    overflow-x: scroll;
    margin: 0 auto;
  }
  tr {
    position: relative;
    text-align: justify;
  }
table {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400px;
  font-size: 14px;
  line-height: 17px;
  color: #2E3B52;
  border-collapse: collapse;
  width: 1020px;
  height: 1311px;
  border-radius: 6px;
  justify-content: center;
}
.ManagerSearchBar {
  margin-bottom: 20px;
  display: flex;
  align-items: left;
  gap: 30px;
}
.ManagerFilterIcon {
  font-size: 20px;
}
.ManagersearchInput {
  width: max-content;
  position: absolute;
  border-radius: 4px;
}
.ManagersearchInput input {
  width: 47px;
  height: 17px;
  font-size: 14px;
  padding: 10px 30px;
  border-radius: 4px;
  background-color: #dae1ec;
  border: 1px solid #dae1ec;
}
.ManagerSearchIcon {
  font-size: 20px;
  position: absolute;
  top: 25%;
  left: 7px;
}
td,
th {
  text-align: center;
  padding: 18px 8px;
  width: 20px;
}
.ManagerCrud {
  display: flex;
  padding: 18px 8px;
  text-align: center;
}
.Manager-pagination {
  display: flex;
}
Manager-pagination h4 {
  display: inline-flex;
}
.ManagerCheckBox {
  width: 20px;
}
tr:nth-child(even) {
  background-color: #f4f7fc;
}
tr:hover {
  background-color: #4b515b26;
}